@font-face {
  font-family: relavey;
  src: url('./Assets/Fonts/Raleway-VariableFont_wght.ttf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;  
  overflow-x: hidden;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 20px;
}